{% extends 'base.html.twig' %}

{% block title %}
    Média
{% endblock %}


{# ----------------------------------------------------- HEADER ----------------------------------------------------- #}
{% block header %}
    <h1>Média</h1>
{% endblock %}


{# ------------------------------------------------------ BODY ------------------------------------------------------ #}
{% block main %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}


{# ----------------------------------------------------- FOOTER ----------------------------------------------------- #}
{% block footer %}{% endblock %}