{% extends 'base.html.twig' %}

{% block title %}
    Média
{% endblock %}


{# ------------------------------------------------------ BODY ------------------------------------------------------ #}
{% block body %}
    <h2>Uploader un média</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}


{# ----------------------------------------------------- FOOTER ----------------------------------------------------- #}
{% block footer %}{% endblock %}