{% extends 'base.html.twig' %}

{% block title %}
    Sandbox
{% endblock %}


{# ----------------------------------------------------- HEADER ----------------------------------------------------- #}
{% block header %}
    <h1>Sandbox</h1>
{% endblock %}


{# ------------------------------------------------------ BODY ------------------------------------------------------ #}
{% block main %}

{% endblock %}


{# ----------------------------------------------------- FOOTER ----------------------------------------------------- #}
{% block footer %}{% endblock %}